<%- include('header') %>

<div class="container">
  <h2>You have borrowed: <%= book.title %></h2>
  <p>Please return it by: <strong><%= returnDate %></strong></p>
  <a href="/return"><button>Go to Return Page</button></a>
</div>
